#infobox img {
  width: 100%;
}
#infobox dt {
  font-weight: bold;
  line-height: 20px;
}
#infobox dd {
  line-height: 20px;
}
#results ul, #facets ul {
  line-height: 20px;
  list-style-type: none;
}
#results ul {
  margin-top: 0;
}
#results li:first-child {
  padding-top: 0;
}
#facets ul {
  padding-left: 15px;
  margin: 5px 0 20px;
}
#results li {
  border-bottom: 1px solid #E1E1E1;
  margin: 0 -8px;
  padding: 10px;
}
.title {
  font-family: "Lucida Bright", Georgia, serif; 
  font-weight: bold;
  line-height: 15px;
}
.on a {
  font-weight: bold;
  font-size: 15px;
}
.on a:after {
    content: url('../images/boxed-close.png');
}
li.on {
    margin-left: -4px;
}
.facet-close {
  display: none;
}
.on .face-close {
  display: inline;
}
.categories a {
}
.category_on a {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
.header-wrapper {
  background-color: #FFFFFF;
  border-bottom: 5px solid #006DA5;
  box-shadow: 0 4px 10px -3px #000000;
  height: 50px;
  padding-bottom: 10px;
  overflow: visible;
}
.center {
 float: left;
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 40px;  color: #222222;
 
 
 ul li:after {
    content: url('../images/small_triangle.png');
} fo
  nt-weight: bold;
  line-height: 20px;
  margin-left: 1%;
  padding-top: 28px;
  /*text-shadow: 1px 1px 0 #006DA5, 1px 1px 0 #006DA5, -1px 1px 0 #006DA5, 1px 1px 0 #006DA5;*/
  width: 50%;
}
.right {
  float: right;
  margin-right: 0;
  padding: 25px 20px 0 0;
}
.right input[type="text"] {
  border: 1px solid #666666;
  border-radius: 4px;
  padding: 6px;
  width: 145px;
}
input[type="submit"] {
  background-color: #006DA5;
  border: 1px solid #006DA5;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 3px;
}
.left {
  float: left;
  margin-left: 7%;
  padding-top: 0;
  width: 25%;
}
.left > a:hover {
  background: none;
}
.left img {
  margin: 11px 0 0;
}
.count {
  font-size: 80%;
}
#footer > p.copy {
  font-size: 11px;
}